<!-- hi -->
<table border="1">
  <thead>
    <tr>
        <th> title</th>
        <th> url</th>
        <th> created_at</th>
        <th> author</th>
    </tr>
    
  </thead>
  <tbody>
    <tr *ngFor="let item of finalData" (click)="open(content,item)">
        <td> {{ item.title }} </td>
        <td> {{ item.url }} </td>

        <td> {{ item.created_at }} </td>

        <td> {{ item.author }} </td>

    </tr>
  </tbody>
</table>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <span>
        {{currentJson}}
      </span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('close click')">close</button>
    </div>
  </ng-template>
  
  